<%if(success&& success.length>0  ){%>
<div class="alert alert-success alert-dismissable fade show col-6 offset-3 hi" role="start">
    <%=success%>
    <div class="ms-auto">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<%}%>