<footer>
    <div class="f-info border-top">
        <div class="social">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
           <a href="https://www.instagram.com/nishantpatel_29/"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href=""> <i class="fa-brands fa-square-twitter"></i></a>
        </div>
    
            <div>&copy;Wanderlust Private Limited</div>
            <div class="info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        
    </div>
</footer>